@import "../../styles/variables";

.landingPage {
  display: flex;
  align-items: center;

  .landingPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 5%;
    border: $primaryBorder;
    border-radius: $primaryBorderRadius;

    h1 {
      margin: 0;
      font-size: 4.5rem;
    }

    p {
      font-size: $primaryFontSize;
      margin: 5rem 0;
    }

    form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      input {
        width: 45%;
      }

      button {
        width: 30%;
        margin-top: 5rem;
      }
    }

    p:last-of-type {
      margin-bottom: 0;
    }
  }
}
