@import "variables";

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
}

#root {
  height: 100vh;
}

.container {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
}

button {
  font-size: $primaryFontSize;
  background-color: white;
  padding: 1.5rem;
  border: $primaryBorder;
  border-radius: $primaryBorderRadius;
  box-shadow: 0 0.7rem 0 $primaryBlue;
  transition: all 0.2s;
  position: relative;
  top: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    top: 0.35rem;
    box-shadow: 0 0.35rem 0 $primaryBlue;
  }
}

input {
  padding: 1.5rem;
  border-radius: $primaryBorderRadius;
  font-size: $primaryFontSize;
  border: $primaryBorder;
}
