@import "../../styles/variables";

.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;

  .mainPageContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: $primaryBorderRadius;
    border: $primaryBorder;
    padding: 3%;

    h1 {
      font-size: 4.5rem;
      margin-top: 0;
    }

    .appContainer {
      display: flex;
      justify-content: space-between;

      .appImage {
        width: 25%;

        img {
          height: 22vmax;
        }

        p {
          font-size: $primaryFontSize;
          text-align: center;
        }

        button {
          display: block;
          margin: 0 auto;
          height: 60px;
        }
      }
    }
  }
}
