@import "../../styles/variables";

.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;

  .mainPageContainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: $primaryBorderRadius;
    border: $primaryBorder;
    padding: 3%;

    .appContainer {
      display: flex;
      justify-content: space-between;

      .appImage {
        width: 25%;

        img {
          height: 80%;
        }

        p {
          font-size: $primaryFontSize;
          text-align: center;
          height: 15%;
        }
      }
    }
  }
}
